body {
    font-family: Arial;
    margin: 40px;
    line-height: 1.7;
}

h1,
h2,
h3 {
    color: #222;
}

a {
    text-decoration: none;
    color: #0051ff;
}

a:hover {
    text-decoration: underline;
}

.post-content {
    margin-top: 20px;
    max-width: 800px;
}